[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "overture"]
	path = overture
	url = https://github.com/kurtis-s/overture
	shallow = true
	registered = true
